<log4net>

  <root>
    <level value="ALL" />
    <appender-ref ref="CorrelatorSharpLogger" />
  </root>

  <appender name="CorrelatorSharpLogger" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-4timestamp %cs [%property{cs-activity-parentid}] [%property{cs-activity-id}] %-5level %logger - %message%newline" />
    </layout>
  </appender>

</log4net>